button.v-btn {
  &.red {
    color: $dark-color !important;
    background-color: $main-red-color !important;
    border-color: $main-red-color !important;
  }

  &.orange {
    color: $dark-color !important;
    background-color: $main-orange-color !important;
    border-color: $main-orange-color !important;
  }

  &.dark {
    color: white !important;
    background-color: $dark-color !important;
    border-color: $dark-color !important;
  }
}
