<template lang="pug">
v-container.pa-0
  v-row
    v-col.col-12.col-sm-10.offset-sm-1.col-lg-8.offset-lg-2
      v-alert(
        v-if="game.state === 'expired'"
        type="error"
        dense
      )
        | Game expired due to inactivity. Please, go
        a.mx-2(@click="goHome")
          | Home
        | and create a new one
      v-card
        v-container
          v-row
            v-col.col-6.col-sm-6.col-md-7
              v-card(outlined).rounded-0.px-2.d-inline-block.text-truncate
                span.text-subtitle-2.text-sm-h6 {{ userName }}
              blockquote {{ playerPosition }}
            v-col.col-3.col-sm-4
              v-card.px-sm-2.py-sm-1.rounded-0.text-truncate.text-center(:class="isUserTurn ? 'main-orange' : 'light-red'")
                span.text-subtitle-2.mr-2(v-if="$vuetify.breakpoint.smAndUp") {{ turnMessage }}
                v-icon(color="black" :small="$vuetify.breakpoint.xsOnly")
                  template(v-if="isUserTurn") fa-running
                  template(v-else) fa-pray
            v-col.col-3.col-sm-2.col-md-1.text-right
              v-progress-circular(
                rotate=-90
                size=28
                width=14
                :value="turnCountDown"
              )
          v-row
            v-col.py-0
              v-card.rounded-0
                v-container
                  v-row
                    v-col.col-12.col-sm-3.col-md-2
                      Gallow(:playerUid="userUid")
                    v-col.col-12.col-sm-9.col-md-10
                      KeysLog(:playerUid="userUid")
                    v-col.col-12
                      Word(:playerUid="userUid")
          v-row
            v-col
              Keyboard(:userUid="userUid")
  v-row
    v-col.col-12.col-sm-6(v-for="(enemy, enemyUid) in enemies" :key="enemyUid")
      v-card(:class="isEnemyTurn(enemyUid) ? 'active' : ''")
        v-container
          v-row
            v-col.col-6.px-2.py-1
              h4
                | {{ enemy.name }}
                v-icon.ml-2(v-if="enemy.position" color="success") fa-medal
            v-col.col-6.text-right.pa-1
              Gallow(:playerUid="enemyUid")
            v-col.col-12.pt-3.pb-1
              Word(:playerUid="enemyUid" :covert="true")
</template>

<script>
import * as firebase from "firebase";
import { sortObjectBy } from "../../../utils/objects";
import Gallow from "./Gallow.vue";
import KeysLog from "./KeysLog.vue";
import Word from "./Word.vue";
import Keyboard from "./Keyboard.vue";

const COUNT_DOWN_UPDATE_INTERVAL = 500; // ms
const MAX_PROGRESS = 100; // %
const END_TURN_DELAY = 2; // second

export default {
  components: {
    Gallow,
    KeysLog,
    Word,
    Keyboard
  },

  data: () => ({
    gameSubscription: null,
    turnCountDownTimeout: null,
    turnCountDown: null,

    text: ""
  }),

  mounted() {
    this.createGameSubscription();
    this.scheduleTurnCountDownUpdate();
  },

  destroyed() {
    if (this.turnCountDownTimeout !== null) clearTimeout(this.turnCountDownTimeout);
    if (this.gameSubscription !== null) this.gameSubscription();
  },

  computed: {
    game() {
      return this.$store.getters.game;
    },

    playingState() {
      return this.$store.getters.playingState;
    },

    userName() {
      return this.$store.getters.user.name;
    },

    userUid() {
      return this.$store.getters.user.uid;
    },

    isUserTurn() {
      return this.$store.getters.isUserTurn;
    },

    turnMessage() {
      if (this.isUserTurn) return "Your turn!";

      return `${this.currentPlayerName}'${
        this.currentPlayerName.slice(-1) === "s" ? "" : "s"
      } turn`;
    },

    playerPosition() {
      return (this.$store.getters.playerCard || {}).position;
    },

    currentPlayer() {
      return this.$store.getters.currentPlayer;
    },

    currentPlayerName() {
      return this.currentPlayer.name;
    },

    enemies() {
      /* eslint-disable no-unused-vars */
      const { [this.userUid]: _ommited, ...players } = this.game.player_cards;
      return sortObjectBy(players, "index");
    }
  },

  methods: {
    createGameSubscription: function() {
      this.gameSubscription = firebase
        .firestore()
        .collection("games")
        .doc(this.game.uid)
        .onSnapshot(snapshot => {
          this.$store.commit("setGame", { uid: snapshot.id, ...snapshot.data() });
        });
    },

    turnCountDownTimer: function() {
      const duration = this.$store.getters.turnSeconds - END_TURN_DELAY;
      this.turnCountDown = Math.min(
        (MAX_PROGRESS *
          (duration - (this.$store.getters.now() - this.$store.getters.turnStartedAt))) /
          duration,
        MAX_PROGRESS
      );

      this.scheduleTurnCountDownUpdate();
    },

    scheduleTurnCountDownUpdate: function() {
      setTimeout(this.turnCountDownTimer, COUNT_DOWN_UPDATE_INTERVAL);
    },

    isEnemyTurn(enemyUid) {
      return this.$store.getters.currentPlayerUid === enemyUid;
    },

    goHome: function() {
      this.$store.dispatch("loadGame");
      this.$router.push({ name: "Home" });
    }
  }
};
</script>

<style scoped lang="scss">
@keyframes blink {
  50% {
    border-color: $light-white-color;
  }
}
.v-alert a {
  color: $dark-color;
}

.v-card {
  &.light-red {
    background-color: $light-red-color;
  }

  &.main-orange {
    background-color: $main-orange-color;
  }

  &.active {
    border-width: 3px;
    border-style: solid;
    border-color: $dark-color;
    animation: blink 3s infinite ease-out;
  }

  &:not(.active) {
    padding: 3px;
  }
}

.v-progress-circular {
  vertical-align: baseline;
}
</style>
