<template lang="pug">
v-row
  v-col.pt-1.pt-sm-3(
    :class="$vuetify.breakpoint.xsOnly ? 'text-center' : 'text-right' "
  )
    template(v-if="playerSelectedKeys")
      v-chip.mx-1.mb-1.px-2.px-sm-3.py-sm-4.text-subtitle-2.text-sm-h6(
        v-for="keyword in playerSelectedKeys"
        :key="keyword"
        label
        small
      ) {{ keyword }}
</template>

<script>
export default {
  props: {
    playerUid: {
      type: String,
      required: true
    }
  },

  data: () => ({}),

  computed: {
    playerSelectedKeys() {
      return this.$store.getters.playerSelectedKeys(this.playerUid);
    }
  }
};
</script>
