<template lang="pug">
v-container
  template(v-if="editable")
    v-select.mt-4(
      v-model="settings.termCategories"
      @change="setSettings(settings)"
      :items="termCategories"
      label="Term lists"
      :loading="!settingsLoaded"
      multiple
      dense
      chips
    )
      template(v-slot:selection="{ item }")
        v-chip.mb-1(label small) {{ item }}
  template(v-else)
    span.text-h6.text-sm-subtitle-1
      strong {{ 'Term categories: ' }}
    span(v-if="settings.termCategories && settings.termCategories.length > 0")
      template(v-for="category in settings.termCategories")
        v-chip.px-1.mr-1.mb-1(label small) {{ category }}
    span(v-else) Random
</template>

<script>
import * as firebase from "firebase";

export default {
  props: {
    editable: Boolean,
    setSettings: Function
  },

  data: () => ({
    termCategories: [],
    settings: {}
  }),

  mounted() {
    this.loadSettingOptions();
  },

  computed: {
    settingsLoaded() {
      return this.termCategories.length > 0;
    }
  },

  methods: {
    loadSettingOptions: function() {
      firebase
        .firestore()
        .collection("term_categories")
        .where("language", "==", "es")
        .get()
        .then(querySnapshot => {
          this.termCategories = querySnapshot.docs.map(doc => doc.data().category);
        });
    }
  }
};
</script>

<style scoped lang="scss"></style>
