<template lang="pug">
v-container#background.ma-0(fill-height)
  template(v-if="loggedIn")
    template(v-if="room")
      Room
    template(v-if="game")
      template(v-if="!gameCompleted")
        Board
      template(v-else)
        Score
</template>

<script>
import Room from "@/components/lobby/Room.vue";
import Board from "@/components/game/hangman/Board.vue";
import Score from "@/components/game/hangman/Score.vue";

export default {
  name: "Game",

  components: {
    Room,
    Board,
    Score
  },

  data: () => ({}),

  computed: {
    loading() {
      return this.$store.getters.status == "loading";
    },
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
    room() {
      return this.$store.getters.room;
    },
    game() {
      return this.$store.getters.game;
    },
    gameCompleted() {
      return this.game.state === "completed";
    }
  },

  methods: {
    checkState: function() {
      if (this.loading || this.room || this.game) return;

      this.$router.push({ name: "Home" });
    }
  },

  mounted: function() {
    this.$nextTick(function() {
      this.checkState();
    });
  },

  watch: {
    loading: function() {
      this.checkState();
    }
  }
};
</script>

<style scoped lang="scss">
#background {
  min-width: 100%;
  background-color: $background-color !important;
}
</style>
