<template lang="pug">
v-container#background.ma-0(fill-height)
  v-row(align="center")
    v-col.col-10.col-md-6.col-lg-4.offset-1.offset-md-3.offset-lg-4
      v-card#menu.my-10.pa-0(outlined elevation=0 rounded=0)
        v-container.pa-0
          v-row
            v-col(cols=10 offset=1)
              p#title.mt-n6.mt-sm-n8.mt-md-n9.text-center.text-h4.text-sm-h3.text-md-h2
                | Game arena
          v-row.mt-3(align="center" justify="center" no-gutters)
            template(v-if="loggedIn")
              v-col.col-12.col-sm-9(:class=`{ 'right-spacer': $vuetify.breakpoint.smAndUp }`)
                p#subtitle.py-6.mx-6.mb-0.text-center.text-h5.text-sm-h4(
                  :class=`{ 'bottom-spacer': $vuetify.breakpoint.xsOnly }`
                )
                  | {{ user.name }}
              v-col.col-12.col-sm-3.text-center(
                :class=`{ 'mt-4': $vuetify.breakpoint.xsOnly }`
              )
                v-row(no-gutters)
                  v-col.col-sm-12
                    v-btn.ma-1.dark(disabled elevation=0 rounded)
                      v-icon fa-user-cog
                  v-col.col-sm-12
                    v-btn.ma-1.dark(disabled elevation=0 rounded)
                      v-icon fa-chart-bar
                  v-col.col-sm-12
                    v-btn.ma-1.dark(elevation=0 rounded @click="signOut")
                      v-icon fa-sign-out-alt
            template(v-else)
              v-col.col-12.col-sm-8(
                :class=`{
                  'mb-4': $vuetify.breakpoint.xsOnly,
                  'right-spacer': $vuetify.breakpoint.smAndUp
                }`
              )
                p#subtitle.mb-0.mx-6.pt-2.text-h6.text-sm-h5(
                  :class=`{ 'text-center': $vuetify.breakpoint.xsOnly }`
                )
                  | Play as guest
                v-text-field#subtitle.mx-6(
                  v-model="nickname"
                  :class="{ 'bottom-spacer': $vuetify.breakpoint.xsOnly }"
                  regular
                  autocomplete="off"
                )
              v-col.col-12.col-sm-4
                v-row
                  v-col.text-center
                    SignIn
          v-row.mt-10(no-gutters)
            template(v-if="!room && !game")
              v-col.col-12.col-sm-6
                v-btn.red.rounded-0(@click="join.dialog = !join.dialog" :disabled="joiningRoom" elevation=0 block large)
                  | Join room
                  v-icon(v-if="!joiningRoom" right) fa-door-open
                  v-progress-circular.ml-2(v-else :size="20" :width="3" indeterminate)
                v-dialog(v-model="join.dialog" width="50%" max-width="400px")
                  v-card.dark
                    v-container
                      v-row
                        v-col.mx-4.text-center
                          v-text-field.mb-2(
                            v-model="join.roomCode"
                            hide-details=true
                            autocomplete="off"
                          )
                          v-btn.orange.rounded-0.mb-4(
                            block
                            @click="joinRoom"
                            :disabled="join.roomCode.length != ROOM_CODE_LENGTH || joiningRoom"
                          )
                            | Join
              v-col.col-12.col-sm-6
                v-btn.orange.rounded-0(@click="create.dialog = !create.dialog" :disabled="creatingRoom" elevation=0 block large)
                  | Create room
                  v-icon(v-if="!creatingRoom" right) fa-hotel
                  v-progress-circular.ml-2(v-else :size="20" :width="3" indeterminate)
                v-dialog(v-model="create.dialog" width="50%" max-width="400px")
                  v-card.light
                    v-container
                      v-row
                        v-col.mx-4.text-center
                          v-select.mt-3(
                            v-model="create.game"
                            label="Game"
                            :items="GAME_LIST"
                            dense
                            outlined
                          )
                          v-btn.orange.rounded-0.mb-3(
                            block
                            @click="createRoom"
                            :disabled="!create.game || creatingRoom"
                          )
                            | Create

            template(v-else)
              v-col
                v-btn.orange(@click="goPlay" elevation=0 block large)
                  template(v-if="room")
                    | Go to current room
                  template(v-else)
                    | Go to current game
                  v-icon(right) fa-gamepad
</template>

<script>
import * as firebase from "firebase";
import SignIn from "@/components/auth/SignIn.vue";

const GAME_LIST = ["Hangman"];
const ROOM_CODE_LENGTH = 4;

export default {
  name: "Home",

  components: {
    SignIn
  },

  data: () => ({
    ROOM_CODE_LENGTH: ROOM_CODE_LENGTH,
    GAME_LIST: GAME_LIST,

    nickname: "",

    create: {
      game: "",
      dialog: false
    },
    join: {
      dialog: false,
      roomCode: ""
    },

    creatingRoom: false,
    joiningRoom: false
  }),

  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
    user() {
      return this.$store.getters.user;
    },
    room() {
      return this.$store.getters.room;
    },
    game() {
      return this.$store.getters.game;
    }
  },

  methods: {
    randomNickname: function() {
      return `Wild${this.$fakergem.Pokemon.name()}Lv${this.$fakergem.Number.between(1, 100)}`;
    },
    signOut: function() {
      this.$store.commit("setRoom", null);
      this.$store.commit("setGame", null);

      if (this.user.guest) {
        localStorage.setItem("user", null);
        this.$store.commit("setUser", null);
      } else this.$store.dispatch("signOut");
    },
    createGuest: function() {
      const userData = { name: this.nickname, uid: this.$uuidv4(), guest: true };

      localStorage.setItem("user", JSON.stringify(userData));
      this.$store.commit("setUser", userData);
    },
    createRoom: function() {
      this.creatingRoom = true;

      if (!this.loggedIn) this.createGuest();

      firebase
        .functions()
        .httpsCallable("rooms-createRoom")({
          game: this.create.game,
          ...(this.user.guest && { guest: this.user })
        })
        .then(this.enterRoom);
    },
    joinRoom: function() {
      this.joiningRoom = true;
      this.join.dialog = false;

      if (!this.loggedIn) this.createGuest();

      firebase
        .functions()
        .httpsCallable("rooms-joinRoom")({
          roomCode: this.join.roomCode,
          ...(this.user.guest && { guest: this.user })
        })
        .then(this.enterRoom);
    },
    enterRoom: function(payload) {
      this.$store.commit("setRoom", payload.data.room);
      this.goPlay();
    },
    goPlay: function() {
      this.$router.push({ name: "Game" });
    }
  },

  created: function() {
    this.nickname = this.randomNickname();
  }
};
</script>

<style scoped lang="scss">
#background {
  min-width: 100%;
  background-color: $background-color !important;
}

#menu {
  border-color: $dark-color;
  border-width: 6px;
  background-color: $background-color !important;
}

#title {
  font-family: $title-font, monospace !important;
  color: $dark-color;
  background-color: $background-color;
}

#subtitle {
  font-family: $subtitle-font, sans-serif !important;
}

.bottom-spacer {
  border-bottom: solid 1px $dark-color;
}

.right-spacer {
  border-right: solid 1px $dark-color;
}

::v-deep .v-input__slot {
  background-color: $light-white-color;
  padding: 4px 20px 4px 20px;
  border-bottom: none;
}

.v-dialog > .v-card {
  &.light {
    background-color: $light-white-color !important;

    .v-btn.v-btn--disabled {
      background-color: $light-white-color !important;
      color: $dark-color !important;
    }
  }

  &.dark {
    background-color: $dark-color !important;

    .v-btn.v-btn--disabled {
      background-color: $dark-color !important;
    }
  }

  .v-btn.v-btn--disabled {
    color: white !important;
    border: solid 2px $background-color;
  }
}
</style>
