<template lang="pug">
v-dialog(v-model="showForm" max-width="600px")
  template(v-slot:activator="{ on, attrs }")
    v-btn.dark(
      elevation=0
      v-bind="attrs"
      v-on="on"
      rounded=true
      large
    )
      v-icon fa-sign-in-alt
  v-card
    v-card-title(class="text-h4") Sign In
    v-card-text
      v-container
        v-row
          v-col
            v-form(v-model="valid")
              v-text-field(
                v-model="input.email"
                label="E-mail"
                :rules="rules.email"
                required
              )
              v-text-field(
                v-model="input.password"
                label="Password"
                type="password"
                :rules="rules.password"
                required
              )
    v-card-actions
      v-btn-toggle(dense)
        v-btn(:disabled="!valid" color="success" type="submit" @click="submit")
          | Sign in
        SignUp(@click="showForm = false")
</template>

<script>
import SignUp from "@/components/auth/SignUp.vue";

export default {
  components: {
    SignUp
  },

  data: () => ({
    showForm: false,
    valid: true,
    input: {},
    rules: {
      email: [v => !!v || "E-mail is required", v => /.+@.+\..+/.test(v) || "E-mail must be valid"],
      password: [v => !!v || "Password is required"]
    }
  }),

  methods: {
    submit: function() {
      this.$store.dispatch("signIn", {
        nickname: this.input.nickname,
        email: this.input.email,
        password: this.input.password
      });
    },
    hideForm: function() {
      this.showForm = false;
    }
  }
};
</script>
